<div>
  <div>
    <%= f.label :name, 'name' %>
    <%= f.text_field :name, size: 32 %>
  </div>

  <div>
    <%= f.label :deposit, 'deposit' %>
    <%= f.text_field :deposit, size: 32%>
  </div>
</div>
