<div>
  <div>
    <%= mac.label :current_mac, 'MAC NUMBER' %>
    <%= mac.text_field :current_mac, size: 32 %>
  </div>

  <div>
    <%= mac.label :start_current_mac, 'Setup machine Date'%>
    <%= mac.text_field :start_current_mac %>
  </div>
</div>
